.centred-text{
	text-align: center;
}

.results-panel{
}

.ticket-display{
	background-color: #F78F1E;
	height: 240px;
	border-radius: 15px;
	width: 500px;
	margin: 30px auto;
	border: 1px solid;
}

.fr-details{
	margin: 30px auto;
	text-align: center;
}

.fr-details .ticket-display{
	display: inline-block;
	margin: 0 10px;
}

.ticket-body{
	position: relative;
	top: 30px;
	background-image: url("images/ticket-bkg.png");
	background-color: white;
	height: 180px;
	text-align: left;
}

.ticket-place{
	font-weight: bold;
	font-size: 12pt;
}

.ticket-type{
	font-weight: bold;
	font-size: 14pt;
}

.ticket-fare{
	font-size: 16pt;
	text-align: right;
	display: block;
	right: 0;
	margin: 10px 0;
}

.ticket-route{
	font-weight: bold;
	font-size: 12pt;
}

.ticket-restrict-code{
	margin-right: 5px;
}

.ticket-restrict-row a{
	color: #333;
}

.ticket-restrict-row a:visited, a:link, a:active{
	text-decoration: none;
	color: #333;
}

.ticket-restrict-row a:hover{
	text-decoration: none;
	color: #337ab7;
}

.ticket-restrict-label{
	margin-right: 5px;
}

.ticket-restrict-desc{
	font-weight: bold;
}

.ticket-label{
	margin-right: 5px;
}

.ticket-right{
	position: absolute;
	right: 0;
	top: 0;
	margin: 5px;
}

.ticket-left{
	position: absolute;
	left: 0;
	top: 0;
	margin: 5px;
}

.ticket-bottom{
	position: absolute;
	bottom: 0;
	margin: 5px;
}

.train-spinner{
	background-color: #0099ff;
	height:240px;
	width:500px;
	border-radius: 15px;
	overflow:hidden;
	border: 1px solid black;
	margin: 30px auto;
}

.train-spinner .train{
	position:relative;
	float: left;
	top: 10px;
	width: 450px;
	height: 59px;
}

.train-spinner .ground{
	position:relative;
	float: left;
	top:11px;
	height:70px;
	width:500px;
	background-color:#009933;
}

.train-spinner .track{
	position:relative;
	top:0;
	width:500px;
	height:5px;
	background-color: black;
}

.train-spinner .sleepers{
  background-image: linear-gradient(to right, brown 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 25px 5px;
  background-repeat: repeat-x;
  width: 500px;
  height: 5px;
  animation-duration: 2s;
}

.train-spinner .cloud{
	position: relative;
	float: left;
	top: 20px;
	width: 100px;
	height: 50px;
	border-radius: 15px;
	background-color: white;
	animation-duration: 8s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.train-spinner .cloud2{
	animation-delay: -4s;
}

.train-spinner .hill{
	position: relative;
	float: left;
	background-color: #1aff66;
	height: 100px;
	width: 200px;
	transform: translateX(-200px);
	top: 75px;
	border-radius: 75px 75px 0 0;
	animation-duration: 6s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.train-spinner .tree{
	position:relative;
	float: left;
	top: -150px;
	height: 120px;
	width: 100px;
	right:22px;
	animation-duration: 1.6s;
}

.train-spinner .tree2{
	animation-delay: -0.8s;
}

.train-spinner .tree .trunk{
	position: absolute;
	background-color: #663300;
	width: 20px;
	height: 100px;
	left: 40px;
	bottom: 0;
}

.train-spinner .tree .canopy{
	position: relative;
	background-color: #006600;
	width: 100px;
	height: 75px;
	left: 0;
	top: 0;
	border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes across{
	from{
		right:-700px;
    background-position: 400px;
	}
	to{
		right:200px;
    background-position: 0px;
	}
}

.train-spinner .anim-accross{
	animation-name: across;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes librate{
	0%{
		transform: translateY(0) translateX(0)
	}
	50%{
		transform: translateY(1px) translateX(-2px)
	}
	100%{
		transform: translateY(0) translateX(-4px)
	}
}

.train-spinner .anim-librate{
	animation-name: librate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1.5s;
	animation-direction: alternate-reverse;
}

.share-panel{
	text-align: center;
}

.share-link{
	display: inline-block;
	text-align: left;
}

.share-panel .share-url-box{
	width: 500px;
	height: 80px;
}

.share-link-expand{
	display: inline-block;
	text-align: left;
	width: 500px;
	font-weight: bold;
	cursor: pointer;
}